{% extends "base.html" %}{% load static %}


{% block title %}
Inicio
{% endblock %}


{% block extra_head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}


{% block content %}
         
<section class="dashboard" id="dashboard-panel" style="display: flex; justify-content: space-between; gap: 20px; padding: 20px; flex-wrap: wrap; flex-direction: row;">
    <div class="dashboard-section" style="flex: 1; min-width: 300px; max-width: 48%;">
        <div id="metricsInfo" class="dashboard_general" style="padding: 20px; vertical-align: middle; text-align: left; height: auto; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
            <h3 style="font-size: 1.4em; color: #333; text-align: center; margin-bottom: 10px; font-weight: 600;">Estadísticas</h3>
            <div >
                <p><strong style="color: #333;">Total de Animales:</strong> {{ total_animals|floatformat:2 }}</p>
                <p><strong style="color: #333;">Animales para la Venta:</strong> {{ animals_for_sale|floatformat:2 }}</p>
                <p><strong style="color: #333;">Nacidos este Mes:</strong> {{ born_this_month|floatformat:2 }}</p>
                <p><strong style="color: #333;">Promedio de Peso al Nacer:</strong> {{ average_birth_weight|floatformat:2 }} kg</p>
                <p><strong style="color: #333;">Promedio de Peso Actual:</strong> {{ average_current_weight|floatformat:2 }} kg</p>
                <p><strong style="color: #333;">Porcentaje de Saludable:</strong> {{ healthy_percentage|floatformat:2 }}%</p>
                <p><strong style="color: #333;">Tasa de Mortalidad:</strong> {{ mortality_rate|floatformat:2 }}%</p>
            </div>
        </div>
    </div>
    
    <div class="dashboard-section" style="flex: 1; min-width: 450px; max-width: 48%;">
        <!-- Dropdown para seleccionar el identifier de la vaca -->
        <form method="get" action="{% url 'main' %}" style="text-align: center; margin-bottom: 20px;">
            <label for="identifier" style="font-size: 1.0rem; color: #333;">Selecciona una vaca:</label>
            <select name="identifier" id="animalSelector" onchange="this.form.submit()" 
                style="font-size: 0.9rem; padding: 5px 10px; border-radius: 5px; border: 1px solid #ddd; background-color: #f9f9f9;">
                <option value="">-- Seleccionar --</option>
                {% for animal in animals %}
                    <option value="{{ animal.identifier }}" {% if selected_identifier == animal.identifier %}selected{% endif %}>
                        {{ animal.identifier }}
                    </option>
                {% endfor %}

            </select>
        </form>
        
        <div style="display: flex; justify-content: space-between; align-items: flex-start; gap: 10px; padding-top: 20px;">
            <!-- Contenedor del gráfico -->
            <div id="weightChartContainer" style="flex: 1; width: 100%; max-width: 450px; height: 300px;">
                <canvas id="weightChart"></canvas>
            </div>
            
            <div id="agrologo">
                <img src="{% static 'img/AgroLogo.jpg' %}" alt="Logo de AgroGestión" class="logo" 
                style="height: 150px; margin-right: 10px; border-radius: 20%;">
            </div>

            <!-- Cuadro de información de la vaca -->
            <div id="animalInfo" class="animal-grid" style="width: 230px; padding: 20px; vertical-align: middle; text-align:left; height: auto; border: 1px solid #ddd; border-radius: 8px; background-color: #f9f9f9; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                <h3 style="font-size: 1.5em; color: #333; text-align: center; margin-bottom: 15px; font-weight: 600;">Información del Animal</h3>
                <div style="font-size: 14px; line-height: 1.8; color: #555;">
                    <p><strong style="color: #333;">ID:</strong> {{ animal_selected.identifier }}</p>
                    <p><strong style="color: #333;">Especie:</strong> {{ animal_selected.species }}</p>
                    <p><strong style="color: #333;">Raza:</strong> {{ animal_selected.breed }}</p>
                    <p><strong style="color: #333;">F. de Nac.:</strong> {{ animal_selected.birth_date }}</p>
                    <p><strong style="color: #333;">Peso al Nacer:</strong> {{ animal_selected.birth_weight }} kg</p>
                    <p><strong style="color: #333;">Salud:</strong> {{ animal_selected.health_status }}</p>
                    <p><strong style="color: #333;">Zona de Pastoreo:</strong> {{ animal_selected.pasture_zone }}</p>
                    <p><strong style="color: #333;">Para la Venta:</strong> {{ animal_selected.is_for_sale|yesno:"Sí,No" }}</p>
                </div>
            </div>
        </div>
    </div>
</section>


            <script>
                // Verifica si weight_data_json tiene contenido antes de intentar analizarlo
                let weightData;
                try {
                    weightData = JSON.parse('{{ weight_data_json|default:"[]"|safe }}');
                } catch (error) {
                    console.error("Error parsing JSON data:", error);
                    weightData = [];
                }
            
                if (weightData.length > 0) {
                    const dates = weightData.map(record => record.date);
                    const weights = weightData.map(record => record.weight);
            
                    const ctx = document.getElementById('weightChart').getContext('2d');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: dates,
                            datasets: [{
                                label: 'Peso (kg)',
                                data: weights,
                                borderColor: 'rgba(75, 192, 192, 1)',
                                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                borderWidth: 2,
                                fill: true
                            }]
                        },
                        options: {
                            responsive: true,
                            maintainAspectRatio: false,
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                            }
                        }
                    });
                    
                    // O para ocultar
                    document.getElementById('agrologo').style.visibility = 'hidden';  // Para ocultar      
                    weightChart  
                } else {
                    document.getElementById('weightChartContainer').innerHTML = "<p>Selecciona una vaca para ver sus registros de peso.</p>" ;
                    document.getElementById('agrologo').style.visibility = 'visible'; // Para hacer visible
                            
                    }
            </script>

{% endblock %}