{% extends "base.html" %}


{% block title %}
Inicio
{% endblock %}


{% block extra_head %}

{% endblock %}


{% block content %}
   <!-- Panel de Dashboard -->
            <section class="dashboard" id="dashboard-panel">
                <div class="dashboard-section">
                    <h3>Sección 1</h3>
                    <p>Espacio para métricas clave o gráficos.</p>
                </div>
                <div class="dashboard-section">
                    <h3>Sección 2</h3>
                    <p>Espacio para métricas clave o gráficos.</p>
                </div>
                <div class="dashboard-section">
                    <h3>Sección 3</h3>
                    <p>Espacio para métricas clave o gráficos.</p>
                </div>
            </section>
{% endblock %}